:root {
  background-color: #93a29b;
}

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana";
  text-align: center;
  min-width: 420px;
}

#header {
  background-color: black;
  border-radius: 20px;
  color: #f5eb7d;
  padding: 5px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#nav-bar {
  background-color: #60594d;
  display: flex;
  justify-content: space-evenly;
  border: 1px black solid;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  min-width: 100px;
}

a,
#topic-button {
  background-color: #60594d;
  border-radius: 20px;
  color: #f5eb7d;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
#topic-button:hover {
  color: black;
  background-color: #f5eb7d;
}

a:focus,
#topic-button:focus {
  color: black;
  background-color: #f5eb7d;
  border: 2px solid black;
}

#topic-menu {
  background-color: #8b635c;
  border-radius: 20px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.menu-items {
  margin: 2px;
}

#footer {
  font-size: small;
  height: 30px;
  background-color: #8b635c;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
}

#article-list {
  width: 75%;
  margin: auto;
}

#article-card {
  border: 1px #8b635c dashed;
  border-radius: 20px;
  text-align: left;
  background-color: #dcbf85;
  margin: auto;
  margin-bottom: 10px;
  padding: 15px;
  padding-left: 30px;
  padding-bottom: 30px;
  width: 70%;
}

#author {
  font-style: italic;
  font-size: smaller;
}

.article-info {
  text-align: left;
  font-size: small;
}

#article {
  border: 1px #8b635c dashed;
  border-radius: 20px;
  background-color: #dcbf85;
  margin: auto;
  margin-bottom: 10px;
  padding: 30px;
  width: 80%;
  height: max-content;
}

#article img {
  width: 100%;
}

#single-article-view {
  display: grid;
  grid-template-columns: 60% 40%;
}

#comments-column {
  margin-right: 10px;
}

#comment-card {
  font-size: small;
  border: 2px #8b635c solid;
  border-radius: 20px;
  text-align: left;
  background-color: #dcbf85;
  margin-bottom: 10px;
  padding: 15px;
}

#comment-form {
  text-align: left;
}

#center-article-button {
  margin: auto;
  text-align: center;
}

#article-link {
  background-color: black;
  padding: 5px;
  width: 50%;
  border-radius: 20px;
}

#article-link:hover {
  color: black;
  background-color: #f5eb7d;
  border: 2px solid #60594d;
}

@media screen and (max-width: 650px) {
  #nav-bar {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
