#root {
  /* background-color: #93a29b; */
  background-color: #3f0d12;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana";
  text-align: center;
  min-width: 420px;
  color: #f1f0cc;
}

.window {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#nav-bar {
  background-color: #60594d;
  display: flex;
  justify-content: space-evenly;
  border: 1px black solid;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  min-width: 100px;
}

a,
#topic-button {
  background-color: #60594d;
  border-radius: 20px;
  color: #f5eb7d;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
#topic-button:hover {
  color: black;
  background-color: #f5eb7d;
}

a:focus,
#topic-button:focus {
  color: black;
  background-color: #f5eb7d;
  border: 2px solid black;
}

#topic-menu {
  background-color: #8b635c;
  border-radius: 20px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.menu-items {
  margin: 2px;
}

#footer {
  font-size: small;
  background-color: #8b635c;
  margin-bottom: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#article-list {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}

#card {
  height: 100%;
  width: 20rem;
  margin: auto;
  border: 1px black dashed;
  color: #3f0d12;
  text-align: left;
  background-color: #f1f0cc;
}

#author {
  font-style: italic;
  font-size: smaller;
}

.article-info {
  text-align: left;
  font-size: small;
}

#article {
  border: 1px #8b635c dashed;
  border-radius: 20px;
  background-color: #dcbf85;
  color: #3f0d12;
  margin: auto;
  margin-bottom: 10px;
  padding: 30px;
  width: 80%;
  height: max-content;
}

#article img {
  width: 100%;
  padding: 0.5rem;
}

#single-article-view {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 2rem;
}

#comments-column {
  margin-right: 1rem;
}

#comment-card {
  font-size: small;
  border: 2px #8b635c solid;
  border-radius: 20px;
  text-align: left;
  background-color: #dcbf85;
  color: black;
  margin-bottom: 10px;
  padding: 15px;
}

#comment-form {
  text-align: left;
}

#comment-list {
  margin-top: 2rem;
}

#center-article-button {
  margin: auto;
  text-align: center;
}

#article-link {
  background-color: black;
  padding: 5px;
  width: 50%;
  border-radius: 20px;
}

#article-link:hover {
  color: black;
  background-color: #f5eb7d;
  border: 2px solid #60594d;
}

#sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#sort-blocks {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

@media screen and (max-width: 992px) {
  #single-article-view {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 20px;
  }
  #comments-column {
    margin-left: 1rem;
  }
  #article-column {
    margin-bottom: 1rem;
  }
}
